<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cocktailuri. Retete. Mixologie. Tot ce vrei să știi despre mixurile de băuturi!">
        <meta name="keywords" content="cocktail, rețete cocktailuri, mixologie, alcool, mocktail, tehnici preparare, bar acasă, sfaturi mixologie">
        
        <title>Amber & Essence</title>
        <link href="/resurse/css/reteta.css" type="text/css" rel="stylesheet" />
        <%- include("../fragmente/head") %>     
    </head>
    <body>

        <%- include("../fragmente/header") %>    

        <%
        // Functie pentru formatarea datei in romana
        function formatDataRo(data) {
            const zile = ["Duminică", "Luni", "Marți", "Miercuri", "Joi", "Vineri", "Sâmbătă"];
            const luni = ["Ianuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie", 
                            "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"];
            const zi = data.getDate();
            const luna = luni[data.getMonth()];
            const an = data.getFullYear();
            const ziSapt = zile[data.getDay()];
            return `${zi} ${luna} ${an} (${ziSapt})`;
        }
        %>

        <main>
            <section>
                <!-- <h2>Pagină rețetă -->
                    <article id="art-reteta">
                        <h2><span class="nume"><%- locals.ret.nume %></span></h2>
                        <p class="descriere" style="margin-top: 1rem;">
                            <strong><%= locals.ret.descriere %></strong>
                        </p>
                        <div>
                            <table>
                                <tr>
                                    <td>Categorie</td>
                                    <td><span class="categ"><%- locals.ret.categorie %></span></td>
                                </tr>
                                <tr>
                                    <td>Timp preparare</td>
                                    <td><span class="timp_prep"><%- locals.ret.timp_prep %> minute</span></td>
                                </tr>
                                <tr>
                                    <td>Volum</td>
                                    <td><span class="volum_ml"><%- locals.ret.volum_ml %> ml</span></td>
                                </tr>
                                <tr>
                                    <td>Tărie alcoolică</td>
                                    <td><span class="tarie_alcoolica"><%- locals.ret.tarie_alcoolica %> %</span></td>
                                </tr>
                                <tr>
                                    <td>Stil servire</td>
                                    <td><span class="stil"><%- locals.ret.stil %> </span></td>
                                </tr>
                                <tr>
                                    <td>Ingrediente</td>
                                    <td><span class="ingrediente"><%- locals.ret.ingrediente %> </span></td>
                                </tr>
                                <tr>
                                    <td>Vegan</td>
                                    <td><span class="vegan"><%- locals.ret.vegan ? "Da" : "Nu" %></span></td>
                                </tr>
                                <tr>
                                    <td>Conține alcool</td>
                                    <td><span class="contine_alcool"><%- locals.ret.contine_alcool ? "Da" : "Nu" %> </span></td>
                                </tr>
                                <tr>
                                    <td>Data adăugare:</td>
                                    <td>
                                        <time datetime="<%= locals.ret.data_adaugare.toISOString().split('T')[0] %>">
                                            <%= formatDataRo(locals.ret.data_adaugare) %>
                                        </time>
                                    </td>
                                </tr>
                            </table>
                            
                            <figure class="imag-reteta">
                                <img  src="/resurse/imagini/retete/<%- locals.ret.imagine %>" alt="[imagine <%- locals.ret.nume %>]" />
                            </figure>
                        </div>
                        
                    </article>

                    <section id="similare">
                        <h3>Din aceeași categorie</h3>
                        <div class="similare-container">
                            <% for(let ret of reteteSimilare) { %>
                                <a href="/reteta/<%= ret.id %>">
                                    <p><%= ret.nume %></p>
                                </a>
                            </div>
                        <% } %>
                    </section>
                
            </section>
        </main>

        <%- include("../fragmente/footer") %>
    </body>
</html>