<!DOCTYPE html>

<html lang="ro">
    <head>
        <meta name="description" content="Cocktailuri. Retete. Mixologie. Tot ce vrei să știi despre mixurile de băuturi!">
        <meta name="keywords" content="cocktail, rețete cocktailuri, mixologie, alcool, mocktail, tehnici preparare, bar acasă, sfaturi mixologie">
        <link rel="stylesheet" href="/resurse/css/retete.css" type="text/css" />
        
        <title>Amber & Essence</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/retete.js></script>
        <script type="text/javascript" src=/resurse/js/retete-cos.js></script>
    </head>

    <body class="retete_css">

        <%- include("../fragmente/header.ejs")  %>

        <main class="retete">
            <h2>Rețete de cocktailuri</h2>
            <p>Dulci, fresh, răcoritoare, cu sau fără alcool, acum ai la dispoziție o multitudine de rețete, ca să alegi exact ce îți place!<p>

            <section id="clasice">
                <h3>Cocktailuri clasice</h3>
                <embed src="/resurse/pdf-uri/istoria_cocktailurilor_clasice.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="500" height="400" /><br/><br/>

                <article class="cocktail-card">
                    <h4 class="cocktail-name">Martini</h4>
                    <img src="/resurse/imagini/bauturi/martini.jpg" alt="martini">
                    <p class="cocktail-description">Un cocktail elegant și clasic, simplu, dar sofisticat, preferat de cunoscători.</p>

                    <div class="ingredients">
                        <h5>Ingrediente (~120 ml /o porție)</h5>
                        <ul>
                            <li>ml oz shot</li>
                            <li>60 ml /2 oz /1.2 shots gin sau vodcă</li>
                            <li>10 ml /0.34 oz /0.2 shot vermut dry</li>
                            <li>1 măslină verde sau o coajă de lămâie (pentru decor)</li>
                            <li>Gheață (pentru răcire, nu se servește în pahar)</li>
                        </ul>
                    </div>

                    <div class="preparation">
                        <h5>Mod de preparare</h5>
                        <ol>
                            <li>Umple un pahar de mixare cu gheață.</li>
                            <li>Toarnă ginul (sau vodca) și vermutul peste gheață.</li>
                            <li>Amestecă ușor cu o lingură timp de 20-30 secunde.</li>
                            <li>Strecoară lichidul într-un pahar de Martini rece.</li>
                            <li>Decorează cu o măslină verde sau o coajă de lămâie.</li>
                            <li>Servește rece și savurează!</li>
                        </ol>
                    </div>
                </article>

            </section>


        <label> Reteta: <input type="text" id="inp-nume"></label>
        <div>
            <p>Cu alcool?</p>
            <p><label>Da
                <input id="i_rad1"  name="gr_rad" value="true" type="radio"/>
            </label></p>
            <p><label>Nu
                <input id="i_rad2"  name="gr_rad" value="false" type="radio"/>
            </label>
            <p><label>Toate
                <input id="i_rad3" name="gr_rad" value="toate" type="radio" checked/>
            </label>
        </div>


        <label> Timp preparare până la: <span id="infoRange">(0)</span><input type="range" id="inp-timp_prep" value="0" min="0"  max="15" step="1"> <span id="infoMaxRange">(15)</span></label>
        <label>Select simplu:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>

        <div class="filtru-avansat">
            <label for="inp-filtru-textarea">Căutare avansată:
                <textarea id="inp-filtru-textarea" rows="3" placeholder="Introduceți cuvinte cheie pentru a căuta în descrieri, ingrediente sau nume."></textarea>
            </label>
            <div class="info-filtru">
                <p><small>Exemplu: "mentă rom" va căuta cocktailuri care conțin ambele ingrediente.</small></p>
                <p><small>Puteți căuta după: nume, ingrediente, descriere, stil servire.</small></p>
            </div>
        </div>

        <label>Bază alcoolică
            <input list="baze" id="inp-baza" value="toate">
            <datalist id="baze">
                <option value="toate">
                <% for(let opt of locals.optiuniBazaAlcool) { %>
                    <option value="<%- opt.unnest%>">
                <% } %>
            </datalist>
        </label>

        <label>Tip de servire (apasă Ctrl/Cmd pentru selecție multiplă)
            <select id="inp-servire" multiple>
            <% for(let opt of locals.optiuniServire) { %>
                <option value="<%= opt.unnest%>"><%= opt.unnest%></option>
            <% } %>
                </select>
        </label>

        <label>Vegan<input type="checkbox" id="chk-vegan" name="vegan"></label>

        <p>
        <button id="filtrare">Filtreaza</button> 

        <button id="resetare">Reseteaza</button><br/>
        <button id="sortCresc">Sorteaza crescator dupa volum alcoolic si tip cocktail</button><br/>
        <button id="sortDescresc">Sorteaza descrescator dupa volum alcoolic si tip cocktail</button>
        
        </p>
    
        <p id="r-minim">Apăsați Alt+"c" pentru rețeta cu timpul minim de preparare dintre cele afișate. </p>

        <section id="retete">

            <h2>Retete cocktailuri</h2>
            <div class="grid-retete">
                <% for( let ret of locals.retete) { %>
                    <article class="reteta"
                        data-ingrediente = "<%= ret.ingrediente.join(', ') %>"
                        data-baza = "<%= ret.baza %>"
                        data-stil = "<%= ret.stil %>"
                        data-descriere = "<%= ret.descriere%>"
                        data-tarie = "<%= ret.tarie_alcoolica %>"
                        data-volum = "<%= ret.volum_ml %>" >
                        <h3 class="nume"><a href="/reteta/<%-ret.id %>" ><span class="val-nume"><%- ret.nume%></span></a></h3>
                        <div class="info-ret">
                            <p class="timp_prep">Timp preparare: <span class="val-timp_prep"><%- ret.timp_prep%> minute</span></p>
                            <br/>
                            <p class="vegan">Vegan: <span class="val-vegan"><%- ret.vegan %></span></p>
                            <p class="contine_alcool">Cu alcool? <span class="val-contine_alcool"><%- ret.contine_alcool %></p>
                        </div>
                        <p class="categorie">Categorie: <span class="val-categorie"><%- ret.categorie%></span></p>
                        <p class="baza">Bază alcoolică: <span class="val-baza"><%- ret.baza%></span></p>
                        <p class="stil">Stil servire: <span class="val-stil"><%- ret.stil%></span></p>
                        <figure>
                            <a href="/reteta/<%-ret.id %>" ><img src="/resurse/imagini/retete/<%- ret.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- ret.nume %>]" /></a>
                        </figure>
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-ret.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
        </section>

        </main>

        <%- include("../fragmente/footer.ejs")  %>
    </body>